body {
    background-color: #130914;
    color: #becdd1;
    font-family: "Luminari", "Georgia", serif;
    line-height: 1.7;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
